* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    }
    
#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 320px;
    margin: auto;
    font-size: 16px;
    }
    
#nav {
    background-color: #09090B;
    padding: 10px;
    border-radius: 12px;
}
#nav-content  {
    display: flex;
    gap: 12px;
}

#links {
    display: flex;
    gap: 10px;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

img {
    height: 25px;
}


#footer {
    background-color: #09090B;
    padding: 10px;
    color: white;
    border-radius: 12px;
}

#nav-content, #footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

